<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Day</th>
      <th>Workout</th>
      <th>Muscle Group</th>
    </tr>
  </thead>
  <tbody>
    <% workouts.forEach(function(w) { %>
      <form action="/workouts/<%= w.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit" id="workoutDelBtn"></button>
      </form>
      <tr>
        <td><%= w.day %></td>
        <td>&nbsp &nbsp<%= w.workout %></td>
        <td>&nbsp &nbsp<%= w.muscleGroup %></td>
        <td><button onclick="location.href='/workouts/<%= w._id %>'" id="details-btn"></button></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
