<%- include('../partials/header') %>

<section id="show-workouts">
  <div><strong>Day:</strong> </div>
  <div><%= workout.day %></div>
  <div><strong>Workout:</strong> </div>
  <div><%= workout.workout %></div>
  <div><strong>Eaten:</strong></div>
  <div><%= workout.eaten ? 'Yes' : 'Nope' %></div>
  <div><strong>Muslce Group:</strong></div>
  <div><%= workout.muscleGroup %></div>
  <div><strong>Sets:</strong></div>
  <div><%= workout.sets %></div>
  <div><strong>Reps:</strong></div>
  <div><%= workout.reps %></div>
  <div><strong>Exercises:</strong></div>
  <ul>
    <%- workout.exercise.map(e => 
      `<li>${e.name}</li>`
    ) %>
  </ul>
  <a href="/workouts/<%= workout.id %>/edit">Edit Workout Details</a>
</section>

<form
  id="add-ex-to-li"
  action="/workouts/<%- workout._id %>/exercises"
  method="POST"
  >
  <select name="exerciseId" id="exChooseBtn">
    <%- exercises.map(e => 
      `<option value="${e._id}">${e.name}</option>`
    ) %>
  </select>
  <button type="submit" id="exSubBtn">Add to Exercises</button>
</form>

</section>
<br><br>
<% if (user) { %>
<form id="add-note-form" method="POST"
  action="/workouts/<%= workout._id %>/notes">
  <label>Note:</label>
  <textarea name="content"></textarea>
  <label>Exercise Number:</label>
  <select name="exerciseNo" id="exerciseNumLi">
    <option value="Exercise 1">Exercise 1</option>
    <option value="Exercise 2">Exercise 2</option>
    <option value="Exercise 3">Exercise 3</option>
    <option value="Exercise 4">Exercise 4</option>
    <option value="Exercise 5">Exercise 5</option>
    <option value="Exercise 6">Exercise 6</option>
    <option value="Exercise 7">Exercise 7</option>
    <option value="Exercise 8">Exercise 8</option>
    <option value="Exercise 9">Exercise 9</option>
    <option value="Exercise 10">Exercise 10</option>
  </select>
  <label>Intensity:</label>
  <select name="intensity" id="intensityLi">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>
  <input type="submit" value="Add Note">
</form>
<% } %>

<% if (workout.notes.length) { %>
  <table id="comments">
    <thead>
      <tr>
        <th>User</th>
        <th>Note</th>
        <th>Exercise Number</th>
        <th>Intensity</th>
      </tr>
    </thead>
    <tbody>
      <% workout.notes.forEach(function(n) { %>
        <tr>
          <td class="note-user"><img alt="avatar" src="<%= n.userAvatar %>" referrerpolicy="no-referrer" ><%= n.userName %> <strong>-</strong></td>
          <td><%= n.content %> <strong>-</strong></td>
          <td><%= n.exerciseNo %> <strong>-</strong></td>
          <td><%= n.intensity %> <strong>-</strong></td>
          <td id="cmntDelBtn">
            <% if (user?._id.equals(n.user)) { %>
              <form action="/notes/<%= n._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Notes</h5>
<% } %>
<%- include('../partials/footer') %>